NEXT_PUBLIC_API_URL="http://localhost:8080/api"
NEXT_PUBLIC_EXAM_INITIAL_BUFFER_SECONDS="60"

GCS_BUCKET_NAME="your_bucket_name"
GCS_PROJECT_ID="your_project_id"
GCS_CLIENT_EMAIL="service-account@example.iam.gserviceaccount.com"
GCS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace_me\n-----END PRIVATE KEY-----"
